*{
    cursor: default;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.849);
    height: 100vh;
}

.header{
    margin: 8px;
    padding: 8px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.header .logo{
    margin: 8px;
    padding: 8px;
    /* border: 2px solid yellow; */
    width: 150px;
    height: 150px;
}
.header .heading{
    margin: 8px;
    padding: 8px;
    font-size: 3rem;
    /* border: 2px solid green; */
    text-align: center;
    width: fit-content;
}

.marqcontainer{
    /* border: 2px solid red; */
    /* border-left: 2px dotted cadetblue;
    border-right: 2px dotted cadetblue; */
    padding: 8px;
    display: block;
    margin: 25px auto;
    width: 75%;
}

.container{
    padding: 8px;
    border-top: 2px dashed white;
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 35px auto;
    overflow: auto;
}

.container .box{
    color: wheat;
    margin: 8px;
    padding: 8px;
    background-color: #484848;
    border: 2px solid transparent;
    border-radius: 10px;
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.box .heading{
    /* margin: 16px 0px; */
    /* padding: 8px; */
    /* border: 2px solid plum; */
    text-align: center;
    font-size: 2rem;
}
.box .ulcontainer{
    /* border: 2px solid crimson; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin: 16px 0px;
}
.box .licontainer{
    /* border: 2px solid green; */
    width: 48%;
    font-size: 0.85rem;
    margin: 16px 8px;
    padding: 8px 16px;
    /* line-height: 0; */
}

.button{
    display: block;
    cursor: pointer;
    border: 2px solid transparent;
    font-size: 1rem;
    text-decoration: none;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 8px auto;
    margin-bottom: 34px;
    padding: 16px;
    width: fit-content;
}
.footer{
    /* border: 2px solid red; */
    display: flex;
    background-color: white;
    color: black;
    justify-content:space-around;
    padding-bottom: 16px;
}
.footer .box{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
}
.footer .box .heading{
    text-decoration: underline;
    font-size: 1.2rem;
    padding: 8px;
    padding-top: 16px;
    text-align: center;
    padding-bottom: 16px;
}
.footer .box .content{
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 0.75rem;
}

@media (min-width:426px) and (max-width:1024px){
    .container{
        flex-direction: column;
    }
    .container .box{
        flex-direction: column;
    }
    .box .heading{
        font-size: 1rem;
    }
    .box .ulcontainer{
        flex-direction: column;
        align-items: center;
    }
    .footer .box .heading{
        font-size: 0.85rem;
    }
    .footer .box .content{
        font-size: 0.65rem;
    }
}
@media (max-width:425px){
    .header .heading{
        font-size: 1.35rem;
    }
    .marqcontainer{
        display: none;
    }
    .container{
        flex-direction: column;
    }
    .container .box{
        flex-direction: column;
    }
    .box .heading{
        font-size: 0.75rem;
    }
    .box .ulcontainer{
        flex-direction: column;
        align-items: left;
    }
    .box .licontainer{
        font-size: 0.65rem;
    }
    .button{
        font-size: 0.75rem;
    }
    .footer{
        flex-direction: column;
    }
    .footer .box{
        text-align: center;
    }
    .footer .box .heading{
        font-size: 0.75rem;
    }
    .footer .box .content{
        font-size: 0.65rem;
    }
}
